.App {
  text-align: center;
  min-height: fit-content;
  min-width: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.about {
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-container{
  font-family: "American Typewriter";
  font-size-adjust: initial;
  font-size: 30px;
  margin-bottom: 15%;
}
.App-header {
  background-color: lightsteelblue;
  min-height:50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link-git {
  color: #FF5D5D ;
}

@keyframes App-logo-spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
Paper{
  color: #a9d0e8;
}